<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Maheswara Ananta</title>
</head>
<body>
    <div class="flexbox-container">
        <div class="flexbox-item item-1"><img src="../static/home/foto.jpg" alt = "foto Anan"></div>
        <div class="flexbox-item item-2">
            <h2>Hi, I'm </h2> 
            <h1>Anan!<h1>  
            <p>
                Maheswara Ananta Argono | 1906398471
                Fasilkom UI 2019, Future Programmer
            </p>  
        </div>
    </div>
    <div class="grid-container">
        <div class=" grid-item grid-1">
            <h3>DESCRIPTION</h3>
            <p>
                I am very passionate about programming, that is why i went to study computer science as my major subject in university. My source of motivation towards programming drives me to do my best and be more eager in improving my computer science skill.
            </p>
        </div>
        <div class=" grid-item grid-2">
            <h3>HOBBIES</h3>
            <p>
                <ul>
                    <li>Gaming</li>
                    <li>Watch Movies</li>
                    <li>Cycling</li>
                    <li>Coding</li>
                </ul>
            </p>
        </div>
        <div class="grid-item grid-3">
            <h3>PREVIOUS EDUCATION</h3>
            <p id="school">
                SD Mentari Intercultural School Bintaro (2007-2013) <br>
                SMP Highfield  (2013 - 2016) <br>
                SMAK 7 BPK PENABUR (2016 - 2019)
            </p>
        </div>
    </div>
  <footer id="mainFooter">
    <p>Copyright &copy; Maheswara Ananta | IG / Line: @anantus | email: maheswaraananta@gmail.com</p>
  </footer>
</body>
</html>