body{
  background-color: rgb(20, 20, 20);
}
.flexbox-container{
  display: flex; /*menata posisi box*/
  justify-content: flex-start; /* flexbox ada di kiri, bergantung pada main axis (Sb x) */
  align-items: center; /*flexbox ada di tengah pada cross axis (Sb y) */
}
.item-1{
  padding: 0%;
  margin: 70px;
}
.item-1 img{
  border: 10px solid white;
  border-radius: 10px;
  padding: 0%;
  margin: 5px 30px;
  width: 300px;
}
.item-2{
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
.item-2 h1{ /*tulisan Helo I'm*/
  margin: 0%;
  padding: 0%;
  font-weight: 100;
  font-size: 150px;
  letter-spacing: 10px;
}
.item-2 h2{ /*tulisan Anan*/
  margin: 0%;
  padding: 0%;
  font-size: 75px;
  font-weight: 100;
  margin-top: 30px;
  letter-spacing: 10px;
}
.item-2 h2::before{ /* Quotation mark sebelum Helo I'm*/
  font-family: Arial, Helvetica, sans-serif; /* khusus buat quotation mark*/
  content: open-quote;
  font-size: 1em;
  color: #ff654f;
}
.item-2 h1::after{ /* Quotation mark setelah Anan!*/
  font-family: Arial, Helvetica, sans-serif;
  content: close-quote;
  font-size: 1em;
  color: #ff654f; 
}
.item-2 p{
  margin: 0%;
  padding: 0%;
  font-size: 20px;
  color: #a83d2c;
  letter-spacing: 0.3em;
}
.grid-container{
  font-family: "Lucida Console", Monaco, monospace;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}
.grid-container h3, li{
  color: white;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: .5em;
  margin-top: 0%;
  margin-bottom: 0%;
}
.grid-container li{
  font-size: 30px;
  padding: 1em;
}
.grid-container p{
  color: white;
  font-size: 20px;
}
.grid-item {
  border: 5px solid #a83d2c;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.grid-1{ /*Description*/
  grid-area: 1 / 1 / 1 / span 2;
}
.grid-2{ /*hobbies */
  grid-area: 1 / 3 / span 2 / 3;
}
.grid-3{ /*Previous School */
  grid-area: 2 / 1 / 2 / span 2;
}
#mainFooter{
  background: #a83d2c;
  color: white;
  text-align: center;
  padding: 6px;
  margin: 50px 0% 0% 0%;
}
#year{
  font-size: 17px;  
}